.work {
    min-height: 600px;
    /* border-bottom: 20px solid #2155CD; */
}
.work .mybtn {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
    text-align: start;
    padding: 0;
    font-size: 18px;
}
.work .mybtn:hover {
    color: #2155CD;
}
.work .box .card {
    max-width: 100%;
    height: 280px;
    background-image: url("assets/img/amy-hirschi-szrJ3wjzOMg-unsplash.jpg");
    background-size: cover;
    position: relative;
}
.work .box:nth-child(2) .card {
    background-image: url("assets/img/nubelson-fernandes-sdg7M9KwoLM-unsplash.jpg");
}
.work .box:nth-child(3) .card {
    background-image: url("assets/img/thought-catalog-505eectW54k-unsplash.jpg");
}

.work .card .card-body {
    width: 100%;
    max-height: 120px;
    background-color: #2155CD;
    transform: translateY(50%);
    opacity: 0;
    transition: 200ms;
}
.work .card:hover .card-body {
    transform: translateY(0);
    opacity: 1;
}